#main {
    margin: 110px 0px 0px 130px;
    display: flex;
    flex-direction: column;
}
#top-banner{
    color: white;
    text-align: center;
        img{
            width: 100%;
        }
}
#nos_espaces{
    color: black;
    background-color: white;
    display: flex;
    flex-direction: row;
}
#outils{
    color: white;
    img{
        width: 75%;
        height: 700px;
        margin-left: 195px;
    }
}
#outils_top{
    display: flex;
    flex-direction: row;
}
#cta{
    color: white;
    background-image: url(/pil-theme/img/cta.jpg);
}
#espace_cta_link{
    background-color: #FFC33B;
}